.cart {
    .scrolls {
        height: 100%;
        .cart-top {
            width: 750rpx;
            height: 73rpx;
            background: #f4f4f4;
            padding: 0 31.25rpx;
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            justify-content: space-between;
            .item {
                background: url(http://nos.netease.com/mailpub/hxm/yanxuan-wap/p/20150730/style/img/icon-normal/servicePolicyRed-518d32d74b.png)
                    0 center no-repeat;
                background-size: 10rpx;
                padding-left: 15rpx;
                display: flex;
                align-items: center;
                font-size: 25rpx;
                color: #666;
            }
        }
        .cart-box {
            width: 100%;
            height: auto;
            overflow: hidden;
            .list {
                height: auto;
                width: 100%;
                overflow: hidden;
                margin-bottom: 120rpx;
                padding-bottom: 18rpx;
                .item {
                    height: 164rpx;
                    width: 100%;
                    overflow: hidden;
                    background: #fff;
                    .checkbox {
                        float: left;
                        height: 34rpx;
                        width: 34rpx;
                        margin: 65rpx 18rpx 65rpx 26rpx;
                        background: url(http://nos.netease.com/mailpub/hxm/yanxuan-wap/p/20150730/style/img/icon-normal/checkbox-0e09baa37e.png)
                            no-repeat;
                        background-size: 34rpx;
                    }
                    .checked {
                        background: url(http://nos.netease.com/mailpub/hxm/yanxuan-wap/p/20150730/style/img/icon-normal/checkbox-checked-822e54472a.png)
                            no-repeat;
                        background-size: 34rpx;
                    }
                    .goods {
                        float: left;
                        height: 164rpx;
                        width: 672rpx;
                        border-bottom: 1px solid #f4f4f4;
                        .img {
                            float: left;
                            height: 125rpx;
                            width: 125rpx;
                            background: #f4f4f4;
                            margin: 19.5rpx 18rpx 19.5rpx 0;
                        }
                        .info {
                            float: left;
                            height: 125rpx;
                            width: 503rpx;
                            margin: 19.5rpx 26rpx 19.5rpx 0;
                            .t {
                                margin: 8rpx 0;
                                height: 28rpx;
                                font-size: 25rpx;
                                color: #333;
                                overflow: hidden;
                                margin-bottom: 37rpx;

                                .name {
                                    height: 28rpx;
                                    max-width: 310rpx;
                                    line-height: 28rpx;
                                    font-size: 25rpx;
                                    color: #333;
                                    overflow: hidden;
                                }
                                .txt {
                                    height: 28rpx;
                                    line-height: 28rpx;
                                    float: right;
                                }
                            }
                            .b {
                                line-height: 28rpx;
                                font-size: 25rpx;
                                color: #333;
                                display: flex;
                                height: 52rpx;
                                overflow: hidden;
                                .price {
                                    line-height: 52rpx;
                                    height: 52rpx;
                                    flex: 1;
                                    float: left;
                                }
                                .selnum {
                                    width: 235rpx;
                                    height: 52rpx;
                                    border: 1rpx solid #ccc;
                                    display: flex;
                                    .cut {
                                        width: 70rpx;
                                        height: 100%;
                                        text-align: center;
                                        line-height: 50rpx;
                                    }
                                    .number {
                                        flex: 1;
                                        height: 100%;
                                        text-align: center;
                                        line-height: 68.75rpx;
                                        border-left: 1px solid #ccc;
                                        border-right: 1px solid #ccc;
                                        float: left;
                                        line-height: 50rpx;
                                    }
                                    .add {
                                        width: 80rpx;
                                        height: 100%;
                                        text-align: center;
                                        line-height: 50rpx;
                                    }
                                }
                                .selnums {
                                    display: none;
                                }
                            }
                        }
                    }
                }
            }
            .cart-b {
                position: fixed;
                bottom: 0;
                left: 0;
                height: 100rpx;
                width: 100%;
                background: #fff;
                display: flex;
                .checkbox {
                    height: 34rpx;
                    padding-left: 60rpx;
                    line-height: 34rpx;
                    margin: 33rpx 18rpx 33rpx 26rpx;
                    background: url(http://nos.netease.com/mailpub/hxm/yanxuan-wap/p/20150730/style/img/icon-normal/checkbox-0e09baa37e.png)
                        no-repeat;
                    background-size: 34rpx;
                    font-size: 29rpx;
                }
                .checked {
                    background: url(http://nos.netease.com/mailpub/hxm/yanxuan-wap/p/20150730/style/img/icon-normal/checkbox-checked-822e54472a.png)
                        no-repeat;
                    background-size: 34rpx;
                }
                .total {
                    height: 34rpx;
                    flex: 1;
                    margin: 33rpx 10rpx;
                    font-size: 29rpx;
                }
                .delete {
                    height: 34rpx;
                    width: auto;
                    margin: 33rpx 18rpx;
                    font-size: 29rpx;
                }
                .checkout {
                    height: 100rpx;
                    width: 210rpx;
                    text-align: center;
                    line-height: 100rpx;
                    font-size: 29rpx;
                    background: #b4282d;
                    color: #fff;
                }
                .nones {
                    display: none;
                }
            }
        }
    }
}
