.index {
    background-color: #f4f4f4;
    .index_swiper {
        swiper {
            width: 750rpx;
            height: 417rpx;
            image {
                width: 100%;
            }
        }
    }
    .index_menu {
        display: flex;
        height: 181rpx;
        width: 750rpx;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: space-between;
        background-color: #fff;
        navigator {
            flex: 1;
            display: block;
            padding: 20rpx 0;
            .img {
                display: block;
                width: 58rpx;
                height: 58rpx;
                margin: 0 auto;
                margin-bottom: 12rpx;
            }
            .txt {
                display: block;
                font-size: 24rpx;
                text-align: center;
                margin: 0 auto;
                line-height: 1;
                color: #333;
            }
        }
    }
    .box_top {
        width: 750rpx;
        height: auto;
        overflow: hidden;
        background: #fff;
        color: #333;
        margin-top: 20rpx;
        .t {
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            justify-content: center;
            height: 130rpx;
            .txt {
                padding-right: 30rpx;
                background: url("http: //ac-3yr0g9cz.clouddn.com/2cdba05369e10f934e54.png") right 4rpx no-repeat;
                background-size: 16.656rpx 27rpx;
                display: inline-block;
                height: 36rpx;
                font-size: 33rpx;
                line-height: 36rpx;
            }
        }
    }
    .box1 {
        .b {
            width: 750rpx;
            height: auto;
            overflow: hidden;
            position: relative;
            .item {
                float: left;
                width: 375rpx;
                height: 252rpx;
                overflow: hidden;
                border-top: 1rpx solid #fff;
                margin-left: 1rpx;
                &:nth-child(2n + 1) {
                    margin-left: 0;
                    width: 374rpx;
                }
                .wrap {
                    position: relative;
                    .img {
                        height: 253rpx;
                        width: 375rpx;
                        position: absolute;
                        left: 0;
                        top: 0;
                    }
                    .mt {
                        position: absolute;
                        z-index: 2;
                        padding: 27rpx 31rpx;
                        left: 0;
                        top: 0;
                        .br {
                            display: block;
                            font-size: 33rpx;
                            height: 43rpx;
                            color: #333;
                        }
                        .pr {
                            font-size: 25rpx;
                            color: #999;
                        }
                        .un {
                            font-size: 25rpx;
                            color: #999;
                        }
                    }
                }
            }
        }
    }
    .box2 {
        .b {
            width: 750rpx;
            height: auto;
            overflow: hidden;
            padding: 0 31rpx 45rpx 31rpx;

            .item {
                float: left;
                width: 302rpx;
                margin-top: 10rpx;
                margin-left: 21rpx;
                margin-right: 21rpx;
                .img {
                    width: 302rpx;
                    height: 302rpx;
                }
                .name {
                    text-align: center;
                    display: block;
                    width: 302rpx;
                    height: 35rpx;
                    margin-bottom: 14rpx;
                    overflow: hidden;
                    font-size: 30rpx;
                    color: #333;
                }
                .price {
                    display: block;
                    text-align: center;
                    line-height: 30rpx;
                    font-size: 30rpx;
                    color: #b4282d;
                }
            }
        }
    }
    .box3 {
        .b {
            .item {
                border-top: 1px solid #d9d9d9;
                margin: 0 20rpx;
                height: 264rpx;
                width: 710rpx;
                .img {
                    margin-top: 12rpx;
                    margin-right: 12rpx;
                    float: left;
                    width: 240rpx;
                    height: 240rpx;
                }
                .right {
                    float: left;
                    height: 264rpx;
                    width: 456rpx;
                    display: flex;
                    flex-flow: row nowrap;
                    .text {
                        display: flex;
                        flex-wrap: nowrap;
                        flex-direction: column;
                        justify-content: center;
                        overflow: hidden;
                        height: 264rpx;
                        width: 456rpx;
                        .name {
                            width: 456rpx;
                            display: block;
                            color: #333;
                            line-height: 50rpx;
                            font-size: 30rpx;
                            .desc {
                                width: 456rpx;
                                display: block;
                                color: #999;
                                line-height: 50rpx;
                                font-size: 25rpx;
                            }
                            .price {
                                width: 456rpx;
                                display: block;
                                color: #b4282d;
                                line-height: 50rpx;
                                font-size: 33rpx;
                            }
                        }
                    }
                }
            }
        }
    }
    .box4 {
        .b {
            height: 533rpx;
            width: 750rpx;
            padding: 0 0 48rpx 0;

            .list {
                height: 533rpx;
                width: 750rpx;
                white-space: nowrap;
                .item {
                    display: inline-block;
                    height: 533rpx;
                    width: 680.5rpx;
                    margin-left: 30rpx;
                    overflow: hidden;
                    .img {
                        height: 387.5rpx;
                        width: 680.5rpx;
                        margin-bottom: 30rpx;
                    }
                    .np {
                        height: 35rpx;
                        margin-bottom: 13.5rpx;
                        color: #333;
                        font-size: 30rpx;
                        .price {
                            margin-left: 20.8rpx;
                            color: #b4282d;
                        }
                    }
                    .desc {
                        display: block;
                        height: 30rpx;
                        color: #999;
                        font-size: 24rpx;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                }
            }
        }
    }
    .box5 {
        .b {
            width: 750rpx;
            height: auto;
            overflow: hidden;
            padding: 0 20rpx;
            .item {
                display: block;
                float: left;
                width: 345rpx;
                margin-bottom: 30rpx;
                height: auto;
                overflow: hidden;
                text-align: center;
                &:nth-child(2n + 1) {
                    margin-right: 20rpx;
                }
                .img {
                    width: 345rpx;
                    height: 345rpx;
                    background: #f8f8f8;
                    margin-bottom: 10rpx;
                }
                .name {
                    width: 100%;
                    overflow: hidden;
                    height: 40rpx;
                    line-height: 40rpx;
                    text-align: center;
                    font-size: 30rpx;
                    color: #333;
                }
                .price {
                    width: 100%;
                    height: 46rpx;
                    line-height: 46rpx;
                    text-align: center;
                    font-size: 30rpx;
                    color: #b4282d;
                }
            }
        }
    }
}
