.brand {
    .brand-t {
        .title {
            .t {
                position: relative;
                width: 100%;
                height: 290rpx;
                overflow: hidden;
                .img {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 290rpx;
                }
                .txt {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    .font {
                        display: block;
                        height: 37.5rpx;
                        font-size: 37.5rpx;
                        color: #fff;
                    }
                    .line {
                        margin: 0 auto;
                        margin-top: 16rpx;
                        display: block;
                        height: 2rpx;
                        width: 145rpx;
                        background: #fff;
                    }
                }
            }
            .desc {
                background: #fff;
                width: 100%;
                height: auto;
                overflow: hidden;
                padding: 41.5rpx 31.25rpx;
                font-size: 30rpx;
                color: #666;
                line-height: 41.5rpx;
                text-align: center;
            }
        }
    }
    .brand-b {
        display: flex;
        margin-top: 20rpx;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 100%;
        .item {
            background: #fff;
            width: 375rpx;
            padding-bottom: 33.333rpx;
            border-bottom: 1rpx solid #f4f4f4;
            height: auto;
            overflow: hidden;
            text-align: center;
            .img {
                margin-top: 10rpx;
                width: 302rpx;
                height: 302rpx;
            }
            .name {
                display: block;
                width: 365.625rpx;
                height: 35rpx;
                padding: 0 20rpx;
                overflow: hidden;
                margin: 11.5rpx 0 22rpx 0;
                text-align: center;
                font-size: 30rpx;
                color: #333;
            }
            .price {
                display: block;
                width: 365.625rpx;
                height: 30rpx;
                text-align: center;
                font-size: 30rpx;
                color: #b4282d;
            }
            &:nth-child(2n-1) {
                border-right: 1rpx solid #f4f4f4;
            }
        }
    }
}
