.goods {
    overflow: scroll;
    margin-bottom: 100rpx;
    .goods-imgs {
        width: 750rpx;
        height: 750rpx;
        .img {
            width: 750rpx;
            height: 750rpx;
        }
    }
    .policy {
        width: 750rpx;
        height: 73rpx;
        background: #f4f4f4;
        padding: 0 31.25rpx;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: space-between;
        .item {
            background: url(http://nos.netease.com/mailpub/hxm/yanxuan-wap/p/20150730/style/img/icon-normal/servicePolicyRed-518d32d74b.png)
                0 center no-repeat;
            background-size: 10rpx;
            padding-left: 15rpx;
            display: flex;
            align-items: center;
            font-size: 25rpx;
            color: #666;
        }
    }
    .goods-info {
        width: 750rpx;
        height: 306rpx;
        overflow: hidden;
        background: #fff;
        .c {
            display: block;
            width: 718.75rpx;
            height: 100%;
            margin-left: 31.25rpx;
            padding: 38rpx 31.25rpx 38rpx 0;
            border-bottom: 1px solid #f4f4f4;
            text {
                display: block;
                width: 687.5rpx;
                text-align: center;
            }
            .name {
                height: 41rpx;
                margin-bottom: 5.208rpx;
                font-size: 41rpx;
                line-height: 41rpx;
            }
            .desc {
                height: 43rpx;
                margin-bottom: 41rpx;
                font-size: 24rpx;
                line-height: 36rpx;
                color: #999;
            }
            .price {
                height: 35rpx;
                font-size: 35rpx;
                line-height: 35rpx;
                color: #b4282d;
            }
            .brand {
                margin-top: 23rpx;
                min-height: 40rpx;
                text-align: center;
                text {
                    display: inline-block;
                    width: auto;
                    padding: 2px 30rpx 2px 10.5rpx;
                    line-height: 35.5rpx;
                    border: 1px solid #f48f18;
                    font-size: 25rpx;
                    color: #f48f18;
                    border-radius: 4px;
                    background: url(http://nos.netease.com/mailpub/hxm/yanxuan-wap/p/20150730/style/img/icon-normal/detailTagArrow-18bee52dab.png)
                        95% center no-repeat;
                    background-size: 10.75rpx 18.75rpx;
                }
            }
        }
    }
    .sections {
        width: 750rpx;
        height: 108rpx;
        background: #fff;
        margin-bottom: 20rpx;
        .t {
            float: left;
            width: 600rpx;
            height: 108rpx;
            line-height: 108rpx;
            font-size: 29rpx;
            color: #333;
            margin-left: 31.25rpx;
        }
        .img {
            float: right;
            width: 52rpx;
            height: 52rpx;
            margin-right: 16rpx;
            margin-top: 28rpx;
        }
    }
    .comments {
        width: 100%;
        height: auto;
        padding-left: 30rpx;
        background: #fff;
        margin: 20rpx 0;
        .t {
            height: 102.5rpx;
            line-height: 100.5rpx;
            width: 718.75rpx;
            padding-right: 16rpx;
            border-bottom: 1px solid #d9d9d9;
            .txt1 {
                display: block;
                float: left;
                width: 50%;
                font-size: 38.5rpx;
                color: #333;
            }
            .txt2 {
                display: block;
                float: right;
                width: 164rpx;
                height: 100.5rpx;
                line-height: 100.5rpx;
                background: url(http://nos.netease.com/mailpub/hxm/yanxuan-wap/p/20150730/style/img/icon-normal/address-right-990628faa7.png)
                    right center no-repeat;
                background-size: 52rpx;
            }
        }
        .b {
            height: auto;
            width: 720rpx;
            .item {
                height: auto;
                width: 720rpx;
                overflow: hidden;
                .info {
                    height: 127rpx;
                    width: 100%;
                    padding: 33rpx 0 27rpx 0;
                    .user {
                        float: left;
                        width: auto;
                        height: 67rpx;
                        line-height: 67rpx;
                        font-size: 0;
                        .img {
                            float: left;
                            width: 67rpx;
                            height: 67rpx;
                            margin-right: 17rpx;
                            border-radius: 50%;
                        }
                        text {
                            display: inline-block;
                            width: auto;
                            height: 66rpx;
                            overflow: hidden;
                            font-size: 29rpx;
                            line-height: 66rpx;
                        }
                    }
                    .time {
                        display: block;
                        float: right;
                        width: auto;
                        height: 67rpx;
                        line-height: 67rpx;
                        color: #7f7f7f;
                        font-size: 25rpx;
                        margin-right: 30rpx;
                    }
                }
                .contents {
                    width: 720rpx;
                    padding-right: 30rpx;
                    line-height: 45.8rpx;
                    font-size: 29rpx;
                    margin-bottom: 24rpx;
                }
                .imgs {
                    width: 720rpx;
                    height: auto;
                    margin-bottom: 25rpx;
                    .img {
                        height: 150rpx;
                        width: 150rpx;
                        margin-right: 28rpx;
                    }
                }
            }
        }
    }
    .attrs {
        width: 750rpx;
        height: auto;
        overflow: hidden;
        padding: 0 31.25rpx 25rpx 31.25rpx;
        background: #fff;
        .t {
            width: 687.5rpx;
            height: 104rpx;
            line-height: 104rpx;
            font-size: 38.5rpx;
        }
        .list {
            .item {
                width: 687.5rpx;
                height: 68rpx;
                padding: 11rpx 20rpx;
                margin-bottom: 11rpx;
                background: #f7f7f7;
                font-size: 38.5rpx;
                .left {
                    float: left;
                    font-size: 25rpx;
                    width: 134rpx;
                    height: 45rpx;
                    line-height: 45rpx;
                    overflow: hidden;
                    color: #999;
                }
                .right {
                    float: left;
                    font-size: 36.5rpx;
                    margin-left: 20rpx;
                    width: 480rpx;
                    height: 45rpx;
                    line-height: 45rpx;
                    overflow: hidden;
                    color: #333;
                }
            }
        }
    }
    .detail {
        width: 750rpx;
        height: auto;
        overflow: hidden;
        image {
            display: block;
        }
    }
    .problem {
        width: 750rpx;
        height: auto;
        overflow: hidden;
        .t {
            position: relative;
            height: 145.5rpx;
            width: 750rpx;
            padding: 56.25rpx 0;
            background: #fff;
            text-align: center;
            .line {
                display: inline-block;
                position: absolute;
                top: 72rpx;
                left: 0;
                z-index: 2;
                height: 1px;
                margin-left: 225rpx;
                width: 300rpx;
                background: #ccc;
            }
            .title {
                display: inline-block;
                position: absolute;
                top: 56.125rpx;
                left: 0;
                z-index: 3;
                height: 33rpx;
                margin-left: 285rpx;
                width: 180rpx;
                background: #fff;
            }
        }
        .b {
            width: 750rpx;
            height: auto;
            overflow: hidden;
            padding: 0rpx 30rpx;
            background: #fff;
            .item {
                height: auto;
                overflow: hidden;
                padding-bottom: 25rpx;
                .questions {
                    .spot {
                        float: left;
                        display: block;
                        height: 8rpx;
                        width: 8rpx;
                        background: #b4282d;
                        border-radius: 50%;
                        margin-top: 11rpx;
                    }
                    .question {
                        float: left;
                        line-height: 30rpx;
                        padding-left: 8rpx;
                        display: block;
                        font-size: 26rpx;
                        padding-bottom: 15rpx;
                        color: #303030;
                    }
                }
                .answer {
                    line-height: 36rpx;
                    padding-left: 16rpx;
                    font-size: 26rpx;
                    color: #787878;
                }
            }
        }
    }
    .related-goods {
        width: 750rpx;
        height: auto;
        overflow: hidden;
        .t {
            position: relative;
            height: 145.5rpx;
            width: 750rpx;
            padding: 56.25rpx 0;
            background: #fff;
            text-align: center;
            border-bottom: 1px solid #f4f4f4;
            .line {
                display: inline-block;
                position: absolute;
                top: 72rpx;
                left: 0;
                z-index: 2;
                height: 1px;
                margin-left: 225rpx;
                width: 300rpx;
                background: #ccc;
            }
            .title {
                display: inline-block;
                position: absolute;
                top: 56.125rpx;
                left: 0;
                z-index: 3;
                height: 33rpx;
                margin-left: 285rpx;
                width: 180rpx;
                background: #fff;
            }
        }
        .b {
            width: 750rpx;
            height: auto;
            overflow: hidden;
            .item {
                float: left;
                background: #fff;
                width: 375rpx;
                height: auto;
                overflow: hidden;
                text-align: center;
                padding: 15rpx 31.25rpx;
                border-right: 1px solid #f4f4f4;
                border-bottom: 1px solid #f4f4f4;
                .img {
                    width: 311.45rpx;
                    height: 311.45rpx;
                }
                .name {
                    display: block;
                    width: 311.45rpx;
                    height: 35rpx;
                    margin: 11.5rpx 0 15rpx 0;
                    text-align: center;
                    overflow: hidden;
                    font-size: 30rpx;
                    color: #333;
                }
                .price {
                    display: block;
                    width: 311.45rpx;
                    height: 30rpx;
                    text-align: center;
                    font-size: 30rpx;
                    color: #b4282d;
                }
            }
        }
    }
}
.btns {
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 10;
    width: 750rpx;
    height: 100rpx;
    display: flex;
    background: #fff;
    .btn1 {
        float: left;
        height: 100rpx;
        width: 162rpx;
        border: 1px solid #f4f4f4;
        display: flex;
        align-items: center;
        justify-content: center;
        .img {
            display: block;
            height: 44rpx;
            width: 44rpx;
        }
    }
    .btn-bor {
        border-right: none;
        border-left: none;
        text-align: center;
    }
    .btn2 {
        .box {
            position: relative;
            height: 60rpx;
            width: 60rpx;
            .cart-name {
                height: 28rpx;
                min-width: 28rpx;
                z-index: 10;
                position: absolute;
                top: 0;
                right: 0;
                background: #b4282d;
                text-align: center;
                font-size: 18rpx;
                color: #fff;
                line-height: 28rpx;
                border-radius: 50%;
            }
            .img {
                position: absolute;
                top: 10rpx;
                left: 0;
            }
        }
    }
    .btn-g {
        float: left;
        height: 100rpx;
        line-height: 96rpx;
        flex: 1;
        text-align: center;
        color: #333;
        border-top: 1px solid #f4f4f4;
        border-bottom: 1px solid #f4f4f4;
    }
    .btn-carts {
        border: 1px solid #b4282d;
        background: #b4282d;
        float: left;
        height: 100rpx;
        line-height: 96rpx;
        flex: 1;
        text-align: center;
        color: #fff;
    }
}
.cart-box {
    width: 100%;
    height: 100%;
    position: fixed;
    background: rgba(0, 0, 0, 0.5);
    z-index: 8;
    bottom: 0;
    .attr-pop {
        width: 100%;
        height: auto;
        max-height: 780rpx;
        padding: 31.25rpx;
        background: #fff;
        position: fixed;
        z-index: 9;
        bottom: 100rpx;
        .attr-esc {
            position: absolute;
            width: 48rpx;
            height: 48rpx;
            right: 31.25rpx;
            overflow: hidden;
            top: 31.25rpx;
            .img {
                width: 48rpx;
                height: 48rpx;
            }
        }
        .attr-info {
            .img {
                float: left;
                height: 177rpx;
                width: 177rpx;
                background: #f4f4f4;
                margin-right: 31.25rpx;
            }
            .info {
                float: left;
                height: 177rpx;
                display: flex;
                align-items: center;
                .c {
                    .p {
                        font-size: 33rpx;
                        color: #333;
                        height: 33rpx;
                        line-height: 33rpx;
                        margin-bottom: 10rpx;
                    }
                    .a {
                        font-size: 29rpx;
                        color: #333;
                        height: 40rpx;
                        line-height: 40rpx;
                    }
                }
            }
        }
        .spec-con {
            width: 100%;
            height: auto;
            overflow: hidden;
            .number-item {
                .name {
                    height: 32rpx;
                    margin-bottom: 22rpx;
                    font-size: 29rpx;
                    color: #333;
                }
                .selnum {
                    width: 322rpx;
                    height: 71rpx;
                    border: 1px solid #ccc;
                    display: flex;
                    .cut {
                        width: 93.75rpx;
                        height: 100%;
                        text-align: center;
                        line-height: 65rpx;
                    }
                    .number {
                        flex: 1;
                        height: 100%;
                        text-align: center;
                        line-height: 68.75rpx;
                        border-left: 1px solid #ccc;
                        border-right: 1px solid #ccc;
                        float: left;
                    }
                    .add {
                        width: 93.75rpx;
                        height: 100%;
                        text-align: center;
                        line-height: 65rpx;
                    }
                }
            }
        }
    }
}
.cart-none{
    display: none;
}
.wxParse-p{
    text{
        display: none;
    }
}