.catalog {
    display: flex;
    flex-direction: column;
    .sear {
        height: 88rpx;
        width: 100%;
    }
    .catalogs {
        flex: 1;
        width: 100%;
        background: #fff;
        display: flex;
        border-top: 1px solid #fafafa;
        .nav {
            width: 162rpx;
            height: 100%;
            .item {
                text-align: center;
                line-height: 90rpx;
                width: 162rpx;
                height: 90rpx;
                color: #333;
                font-size: 28rpx;
                border-left: 6rpx solid #fff;
            }
            .active {
                color: #ab2b2b;
                font-size: 36rpx;
                border-left: 6rpx solid #ab2b2b;
            }
        }
        .cate {
            border-left: 1px solid #fafafa;
            flex: 1;
            height: 100%;
            padding: 0 30rpx 0 30rpx;
            .banner {
                display: block;
                height: 222rpx;
                width: 100%;
                position: relative;
                .img {
                    position: absolute;
                    top: 30rpx;
                    left: 0;
                    border-radius: 4rpx;
                    height: 192rpx;
                    width: 100%;
                }
                .txt {
                    position: absolute;
                    top: 30rpx;
                    text-align: center;
                    color: #fff;
                    font-size: 28rpx;
                    left: 0;
                    height: 192rpx;
                    line-height: 192rpx;
                    width: 100%;
                }
            }
            .hd {
                height: 108rpx;
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                .line {
                    width: 40rpx;
                    height: 1px;
                    background: #d9d9d9;
                }
                .txt {
                    font-size: 24rpx;
                    text-align: center;
                    color: #333;
                    padding: 0 10rpx;
                    width: auto;
                }
            }
            .bd {
                height: auto;
                width: 100%;
                overflow: hidden;
                .item {
                    display: block;
                    float: left;
                    height: 216rpx;
                    width: 144rpx;
                    margin-right: 34rpx;
                    .img {
                        height: 144rpx;
                        width: 144rpx;
                    }
                    .txt {
                        display: block;
                        text-align: center;
                        font-size: 24rpx;
                        color: #333;
                        height: 72rpx;
                        width: 144rpx;
                    }
                }
                .last {
                    margin-right: 0;
                }
            }
        }
    }
}
