.category {
    background: #f9f9f9;
    .category-t {
        width: 100%;
        height: 84rpx;
        position: fixed;
        top: 0;
        left: 0;
        overflow: hidden;
        background: #ffffff;
        border-top: 1px solid rgba(0, 0, 0, 0.15);
        z-index: 100;
        .t-box {
            width: 100%;
            height: 100%;
            white-space: nowrap;
            .item {
                display: inline-block;
                height: 84rpx;
                min-width: 130rpx;
                padding: 0 15rpx;

                .txt {
                    display: block;
                    height: 83rpx;
                    padding: 0 20rpx;
                    line-height: 84rpx;
                    color: #333;
                    font-size: 30rpx;
                    width: auto;
                    border-bottom: 4rpx solid transparent;
                }
                .item-sel {
                    border-bottom-color: #ab2b2b;
                    color: #ab2b2b;
                }
            }
        }
    }
    .category-b {
        height: 100%;
        width: 100%;
        .title {
            margin-top: 84rpx;
            width: 100%;
            height: 145rpx;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .name {
                display: block;
                height: 35rpx;
                margin-bottom: 18rpx;
                font-size: 30rpx;
                color: #333;
            }
            .desc {
                display: block;
                height: 24rpx;
                font-size: 24rpx;
                color: #999;
            }
        }
        .b {
            display: flex;
            width: 100%;
            padding: 0 6.25rpx;
            justify-content: space-between;
            flex-wrap: wrap;
            .item {
                background: #fff;
                width: 365rpx;
                margin-bottom: 8rpx;
                padding-bottom: 33.333rpx;
                height: auto;
                overflow: hidden;
                text-align: center;
                .img {
                    width: 302rpx;
                    height: 302rpx;
                    display: inline-block;
                }
                .name {
                    display: block;
                    width: 365.625rpx;
                    height: 35rpx;
                    margin: 11.5rpx 0 22rpx 0;
                    text-align: center;
                    overflow: hidden;
                    padding: 0 20rpx;
                    font-size: 30rpx;
                    color: #333;
                }
                .price {
                    display: block;
                    width: 365.625rpx;
                    height: 30rpx;
                    text-align: center;
                    font-size: 30rpx;
                    color: #b4282d;
                }
            }
        }
    }
}
