.topiccom {
    .comments {
        width: 100%;
        height: auto;
        padding-left: 30rpx;
        background: #fff;
        margin-top: 20rpx;
        .t {
            height: 93rpx;
            line-height: 93rpx;
            width: 720rpx;
            padding-right: 30rpx;
            border-bottom: 1px solid #d9d9d9;
            .txt {
                display: block;
                float: left;
                width: 50%;
                font-size: 29rpx;
                color: #333;
            }
            .img {
                display: block;
                float: right;
                margin-top: 30rpx;
                width: 33rpx;
                height: 33rpx;
            }
        }
        .b {
            .list {
                height: auto;
                width: 720rpx;
                .item {
                    height: auto;
                    width: 720rpx;
                    overflow: hidden;
                    border-bottom: 1px solid #d9d9d9;
                    .item-top {
                        height: 127rpx;
                        width: 100%;
                        padding: 33rpx 0 27rpx 0;
                        .img {
                            display: block;
                            float: left;
                            width: 67rpx;
                            height: 67rpx;
                            margin-right: 17rpx;
                            border-radius: 50%;
                        }
                        .txt {
                            display: block;
                            width: auto;
                            float: left;
                            height: 66rpx;
                            overflow: hidden;
                            font-size: 29rpx;
                            line-height: 66rpx;
                        }
                        .time {
                            display: block;
                            float: right;
                            width: auto;
                            height: 67rpx;
                            line-height: 67rpx;
                            color: #7f7f7f;
                            font-size: 25rpx;
                            margin-right: 30rpx;
                        }
                    }
                    .com {
                        width: 720rpx;
                        padding-right: 30rpx;
                        line-height: 45.8rpx;
                        margin-bottom: 30rpx;
                        font-size: 29rpx;
                        color: #333;
                    }
                }
            }
            .load {
                width: 720rpx;
                height: 108rpx;
                line-height: 108rpx;
                text-align: center;
                font-size: 38.5rpx;
            }
        }
        .nul {
            height: 250rpx;
            .img {
                margin: 48rpx auto 18rpx auto;
                height: 130rpx;
                display: block;
                width: 115rpx;
            }
            .txt {
                height: 43rpx;
                line-height: 43rpx;
                display: block;
                width: 100%;
                text-align: center;
                font-size: 29rpx;
                color: #7f7f7f;
            }
        }
    }
    .rec-box {
        width: 690rpx;
        height: auto;
        margin: 0 30rpx;
        .title {
            position: relative;
            width: 690rpx;
            height: 96rpx;
            margin-bottom: 32rpx;
            line-height: 96rpx;
            text-align: center;
        }
        .list {
            .item {
                width: 690rpx;
                height: 397rpx;
                padding: 24rpx 24rpx 30rpx 24rpx;
                background: #fff;
                margin-bottom: 30rpx;
                .img {
                    height: 278rpx;
                    width: 642rpx;
                }
                .txt {
                    display: block;
                    margin-top: 30rpx;
                    height: 30rpx;
                    width: 642rpx;
                    font-size: 28rpx;
                }
            }
        }
    }
}
