.ucenter {
    .ucenter-t {
        width: 100%;
        height: 280rpx;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: flex-start;
        padding: 0 30.25rpx;
        background: #333;
        .img {
            height: 148rpx;
            width: 148rpx;
            border-radius: 50%;
            border: 4rpx solid #fff;
        }
        .info {
            flex: 1;
            height: 85rpx;
            margin-left: 30rpx;
            display: flex;
            flex-direction: column;
            justify-content: center;
            .txt {
                height: 45rpx;
                line-height: 45rpx;
                color: #fff;
                font-size: 37.5rpx;
            }
        }
        .imgs {
            width: 50rpx;
            height: 50rpx;
            margin-left: 10rpx;
            border-radius: 50%;
        }
    }
    .ucenter-list {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        margin: -2rpx;
        overflow: hidden;

        background: #fff;
        .item-box {
            width: 33.3%;
            height: 187.5rpx;
            border-right: 1px solid rgba(0, 0, 0, 0.15);
            border-bottom: 1px solid rgba(0, 0, 0, 0.15);

            background: #fff;

            &:nth-child(3n) {
                border-right: 0;
            }
            &:nth-last-child(1),
            &:nth-last-child(2) {
                border-bottom: 0;
            }
            navigator {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                width: 100%;
                height: 100%;
                flex-wrap: wrap;
                .icon {
                    margin: 0 auto;
                    display: block;
                    height: 52.803rpx;
                    width: 52.803rpx;
                    margin-bottom: 16rpx;
                }
                .icon-back1 {
                    background: url(http://yanxuan.nosdn.127.net/hxm/yanxuan-wap/p/20161201/style/img/sprites/ucenter-sdf6a55ee56-f2c2b9c2f0.png)
                        0 -437.5rpx no-repeat;
                    background-size: 52.803rpx;
                }

                .icon-back2 {
                    background: url(http://yanxuan.nosdn.127.net/hxm/yanxuan-wap/p/20161201/style/img/sprites/ucenter-sdf6a55ee56-f2c2b9c2f0.png)
                        0 -62.4997rpx no-repeat;
                    background-size: 52.803rpx;
                }

                .icon-back3 {
                    background: url(http://yanxuan.nosdn.127.net/hxm/yanxuan-wap/p/20161201/style/img/sprites/ucenter-sdf6a55ee56-f2c2b9c2f0.png)
                        0 -187.5rpx no-repeat;
                    background-size: 52.803rpx;
                }

                .icon-back4 {
                    background: url(http://yanxuan.nosdn.127.net/hxm/yanxuan-wap/p/20161201/style/img/sprites/ucenter-sdf6a55ee56-f2c2b9c2f0.png)
                        0 0 no-repeat;
                    background-size: 52.803rpx;
                }

                .icon-back5 {
                    background: url(http://yanxuan.nosdn.127.net/hxm/yanxuan-wap/p/20161201/style/img/sprites/ucenter-sdf6a55ee56-f2c2b9c2f0.png)
                        0 -500rpx no-repeat;
                    background-size: 52.803rpx;
                }

                .icon-back6 {
                    background: url(http://yanxuan.nosdn.127.net/hxm/yanxuan-wap/p/20161201/style/img/sprites/ucenter-sdf6a55ee56-f2c2b9c2f0.png)
                        0 -312.5rpx no-repeat;
                    background-size: 52.803rpx;
                }

                .icon-back7 {
                    background: url(http://yanxuan.nosdn.127.net/hxm/yanxuan-wap/p/20161201/style/img/sprites/ucenter-sdf6a55ee56-f2c2b9c2f0.png)
                        0 -250rpx no-repeat;
                    background-size: 52.803rpx;
                }

                .icon-back8 {
                    background: url(http://yanxuan.nosdn.127.net/hxm/yanxuan-wap/p/20161201/style/img/sprites/ucenter-sdf6a55ee56-f2c2b9c2f0.png)
                        0 -125rpx no-repeat;
                    background-size: 52.803rpx;
                }
                .txt {
                    width: 100%;
                    text-align: center;
                }
            }
        }
    }
}
.dialog {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    .dialog-box {
        width: 540rpx;
        height: auto;
        overflow: hidden;
        background: #fff;
        border-radius: 5px;
        padding: 40rpx;
        .title {
            width: 100%;
            text-align: center;
            line-height: 60rpx;
        }
        .content {
            width: 100%;
            button {
                width: 100%;
                height: 92rpx;
                margin-top: 30rpx;
                border-radius: 8rpx;
                color: #000;
                border: 1px solid rgba(0, 0, 0, 0.2);
                font-size: 36rpx;
                font-weight: 400;
            }
            button[type="primary"] {
                color: #fff;
                background-color: #1aad19;
                border: 0;
            }
        }
    }
}
