.topic {
    .list {
        width: 750rpx;
        height: 100%;
        overflow: hidden;
        background: #f4f4f4;
        .item {
            width: 100%;
            height: 625rpx;
            overflow: hidden;
            background: #fff;
            margin-bottom: 20rpx;
            .img {
                width: 100%;
                height: 415rpx;
            }
            .info {
                width: 100%;
                height: 210rpx;
                overflow: hidden;
                .title {
                    display: block;
                    text-align: center;
                    width: 100%;
                    height: 33rpx;
                    line-height: 30rpx;
                    color: #333;
                    overflow: hidden;
                    font-size: 35rpx;
                    margin-top: 30rpx;
                }
                .desc {
                    display: block;
                    text-align: center;
                    position: relative;
                    width: auto;
                    height: 24rpx;
                    line-height: 24rpx;
                    overflow: hidden;
                    color: #999;
                    font-size: 24rpx;
                    margin-top: 16rpx;
                    margin-bottom: 30rpx;
                }
                .price {
                    display: block;
                    text-align: center;
                    width: 100%;
                    height: 27rpx;
                    line-height: 27rpx;
                    overflow: hidden;
                    color: #b4282d;
                    font-size: 27rpx;
                }
            }
        }
        .page {
            width: 750rpx;
            height: 108rpx;
            background: #fff;
            margin-bottom: 20rpx;
            .prevPage {
                border-right: 1px solid #d9d9d9;
            }
            .nextPage {
                height: 108rpx;
                width: 50%;
                float: left;
                font-size: 29rpx;
                color: #333;
                text-align: center;
                line-height: 108rpx;
            }
            .disabled {
                color: #ccc;
            }
            view {
                height: 108rpx;
                width: 50%;
                float: left;
                font-size: 29rpx;
                color: #333;
                text-align: center;
                line-height: 108rpx;
            }
        }
    }
}
